
# Este arquivo diz ao Git o que deve ignorar e evitar uma porrada de possiveis b.o.



# --- Configuração de IDEs (Ignora em qualquer lugar) ---
# O '**' (curinga duplo) força o Git a olhar em TODAS as subpastas
**/.idea/
**/*.iml
**/nbproject/

# --- Lixo do Windows ---
Thumbs.db
Desktop.ini
ehthumbs.db

# --- A REGRA DE OURO (A CORREÇÃO) ---
# Ignora a pasta 'target' específica do projeto 'oneX'
# É O CAMINHO 'oneX/target/', e não só 'target/'
oneX/target/

# --- Regras Gerais (Pega-Tudo) ---
# Ignora QUALQUER pasta 'build' ou 'dist' ou 'out'
**/build/
**/dist/
**/out/

# Ignora QUALQUER arquivo .class ou .lst em QUALQUER pasta
**/*.class
**/*.lst